################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Netcore-bookstore/.vs/Netcore-bookstore
/Netcore-bookstore/Netcore-bookstore/bin/Debug/netcoreapp3.1
/Netcore-bookstore/Netcore-bookstore/obj
